{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block title %}
    {% if object %}Редактировать{{ object.title }}{% else %}Регистрация{% endif %}
{% endblock %}
{% block content %}
    <div class="card">

        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">
                    {% if object %}Сохранить{% else %}Зарегистрироваться{% endif %}
                </button>
                <a href="{% url 'catalog:product_list' %}"
                   class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
{% endblock %}