{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block title %}
    {% if object %}Редактировать продукта{{ object.title }}{% else %}Добавить продукт{% endif %}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h2>{% if object %}Редактировать продукта{% else %}Добавить продукт{% endif %}</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">
                    {% if object %}Сохранить{% else %}Создать{% endif %}
                </button>
                <a href="{% if object %}{% url 'catalog:product_detail' object.pk %}{% else %}{% url 'catalog:product_list' %}{% endif %}"
                   class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
{% endblock %}